# -- conf de la base de datos php ------------------------------
/application/config/database.php
# -- Ignora el conf----
/application/config/config.php
application/config/config_.php
application/views/encuesta/editar.php
